{% extends 'base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right noprint">
    {% add_button 'plugins:netbox_vpxe_plugin:boot_profile_add' %}
</div>
<h1>{% block title %}Boot Profiles{% endblock %}</h1>
<div class="row">
    <div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_delete_url='plugins:netbox_vpxe_plugin:boot_profile_bulk_delete' %}
    </div>
    <div class="col-md-3 noprint">
        {% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}
